.root {
  display: inline-block;
  appearance: none;
  background: none;
  border: none;
  width: 42px;
  height: 42px;
  padding: 0;
}

.root:disabled {
  opacity: 0.1;
}

.img {
  width: 42px;
  height: 42px;
}
